.burger-icon {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    position: absolute;       
    top: 20px;             
    left: 20px;
    z-index: 100; 
    background-color: transparent;         
}

.burger-icon:hover {
    cursor: pointer;
}

.burger-icon img {
    width: 75px;
    height: 75px;
    height: fit-content;
    background-color: transparent;
}


.off-screen-menu {
    background-color: #1f1f1f;
    /*background-color: rgb(10, 6, 25);*/
    height: 100vh;
    width: 100%;
    max-width: 300px;
    position: fixed;
    top: 0;
    left: -300px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    transition: left .3s ease;
    z-index: 10;
}

.off-screen-menu ul {
    background-color: transparent;
    margin-left: 0;
    margin-top: 140px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.off-screen-menu li {
    list-style: none;
    margin-bottom: 10px;
    background-color: transparent;
}

.links-container {
    margin-top: 80px;
}

.off-screen-menu a {
    color: #f0f0f0;
    text-decoration: none;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    font-weight: 500;
    display: block;
}

.off-screen-menu a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.off-screen-menu.active {
    left: 0;
}